target/
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd
.mvn/wrapper/maven-wrapper.properties
bin/
*.class
*.jar
*.war
*.ear
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Build systems
.gradle
/build/

# IDEs
.idea/
*.iml
*.iws
.classpath
.project
.settings/
.nbsetup/
.factorypath

# Docker
Dockerfile
.dockerignore

# OS
.DS_Store
Thumbs.db
